<div class="payable">
    <div class="heading">
        <h3>Payable Locally</h3>
    </div>
    <div class="card">
        <ul>
            <li>
              <div class="heading">
                <p>One way Fee</p>
                <p>AED 1000</p>
              </div>
            </li>
            <li>
              <div class="heading">
                <p>1 x Booster Seat <br>(15-36 kg aprox)</p>
                <p>AED 1000</p>
              </div>
             
            </li>
            <li>
                <div class="heading">
                  <p>1 x GPS Unit</p>
                  <p>AED 1000</p>
                </div>
              </li>
              <li>
                <div class="heading">
                  <p>1 x Baby Seat <br>(approx. up to 13kg)</p>
                  <p>AED 1000</p>
                </div>
              </li>
          </ul>
          <footer>
              <h2>Payable Locally</h2>
              <h2>AED 2800</h2>
            </footer>
    </div>

    
</div>


