<div class="safe-travel-popup">
    <div class="content">
        <p>We work closely with all of our Transfers Suppliers, monitoring their Covid-19 safety protocols to mitigate
            risks and protect our mutual customers whilst they are travelling in a vehicle. As part of this process, we
            have introduced a "7 Point Plan" which will provide improved Health and Safety standards for our customers.
        </p>
        <ol class="list-style">
            <li>Compulsory face masks for customers and drivers
                <p>To protect the safety of all involved we are making face masks compulsory for all customers over the
                    age of 5 and for all drivers across all locations globally. Passengers are required to bring their
                    own face masks.</p>
            </li>
            <li>Increased cleaning and Sanitization of vehicles
                <p>Increased cleaning protocols are being implemented globally. These include:</p>
                <ul>
                    <li>Regular sanitization, disinfection, and deep cleaning of vehicles.</li>
                    <li>High-frequency touchpoints such as door handles, armrests, window buttons and seatbelts will be cleaned between each journey.</li>
                    <li>Drivers will make regular use of alcohol-based hand sanitizer.</li>
                </ul>
            </li>
            <li>Adhering to local legislation and guidelines
                <p>All locations will also be operating to local legislation and guidelines to ensure maximum safety and compliance in each location.</p>
            </li>
            <li>Flexible Wait Times
                <p>Arrival procedures will vary across airports globally and as such we will be working with our local suppliers to adopt flexible approaches to driver wait times.We ask customers to contact our suppliers upon arrival, using the details on their vouchers, should they believe that they will take longer than 60 minutes to exit the baggage haul to where the supplier/driver is located to ensure drivers are aware of this likely delay.</p>
            </li>
            <li>Low touch travel
                <p>All our transfers are pre-paid and fully inclusive allowing travel by transfer to be low touch with no need to exchange payment when compared with other modes of transport. This increases the ability to socially distance throughout your journey.</p>
            </li>
            <li>Luggage assistance
                <p>Our drivers will continue to provide assistance with your luggage, if you prefer to handle your own luggage, please inform your driver. Any driver who handles a customer's luggage will follow health and safety protocols including wiping down baggage handles prior to the return of the luggage.</p>
            </li>
            <li>Following World Tourism and Travel Council Safe Travel guidelines
                <p>We will continually monitor and follow the WTTC Safe Travels Global Protocol. These are living and evolving guidelines that will continually evolve as the understanding of safe travel requirements develop. We will be working with our local supply team to ensure they are continually up to date with these details as they develop around COVID-19.</p>
            </li>
        </ol>
    </div>
</div>