@import "common";

.popup-box {
    width: 486px;
    margin: auto;
    @media screen and (max-width:900px) {
        width: 100%;
    }
    .header {
        @include flex(row);
        @include flexAlign (sb, c);
        box-sizing: border-box;
        border-bottom: 1px solid #E7E7E7;
        padding: 12px 17px;
        height: 52px;

        h4 {
            font-size: $clamp-19-16;
            font-weight: $bold;
        }
        .close-icon{
            cursor: pointer;
            transform: scale(.8);
            transition: all .5s ease;
            opacity: .5;
            &:hover{
                transform: scale(1);
                opacity: 1;
                color:$black;
            }
        }
      
    }
    .body{
        padding:17px;
        @include flex(column);
        gap: 20px;
        ul {
            list-style: none;
            margin-left: -11px;
            @include flex(column);
            gap: 8px;
            li {
                font-size: 14px;
                line-height: $clamp-22-16;
                margin-left: 25px;
                @include flex(row);
                @include flexAlign(s, s);
                padding: 2px 0;
                font-weight: $regular;
                position: relative;

                @media screen and (max-width: 768px) {
                    @include flexAlign(s, s);
                }

                &::before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: $secondary;
                    border-radius: 50%;
                    display: inline-block;
                    margin-left: -1em;
                    line-height: 24px;
                    top: 10px;
                    position: absolute;

                    @media screen and (max-width: 768px) {
                        line-height: 33px;
                    }
                }
            }
        }
    }
}