<div class="popup-box">
    <div class="header">
        <h4>Inclusions</h4>
        <div class="close-icon">
            <span class="ak-cancel"></span>
        </div>
    </div>
    <div class="header">
        <img src="../../../../assets/images/availability/sixt-logo.png" alt="">
    </div>
    <div class="body">
        <ul>
            <li>Unlimited Mileage</li>
            <li>LDW Loss Damage Waiver</li>
            <li>1 Million USD Liability Cover (EP/SLI)</li>
            <li>Local Sales Tax/es</li>
            <li>State Tax</li>
            <li>Airport Surcharges/Fees</li>
            <li>Customer Facility Charge</li>
            <li>Mechanical Assistance</li>
            <li>Special Offer - Free Additional Driver</li>
        </ul>
    </div>
</div>
