<div class="booking">
    <div class="heading">
        <h3>Booking Details</h3>
    </div>
    <div class="card">
        <ul>
            <li class="small">
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Title">
                        <mat-option>Mr.</mat-option>
                    </mat-select>
                  </mat-form-field>
               
            </li>
            <li>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="First Name">
                </mat-form-field>
            </li>
            <li>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Last Name">
                </mat-form-field>
            </li>
            <li>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Flight No">
                </mat-form-field>
            </li>
        </ul>
    </div>
</div>

