<div class="upgrade-car">
    <div class="heading">
        <h3>Upgrade your Car</h3>
    </div>
    <div class="card">
        <div class="list">
            <div class="outer">
                <div class="left">
                    <img src="../../../../assets/images/availability/sixt-logo.png" alt="">
                    <h4>Maruti Baleno AT</h4>
                </div>
                <div class="middle">
                    <div class="icon-box green">
                        <span class="ak-checkedmark"></span>
                        <p>Includes GPS and Additional Driver</p>
                    </div>
                    <div class="icon-box">
                        <span class="ak-information icon orange"></span>
                        <p class="blue" (click)="openDialog()">Inclusions</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="price">
                    <h4>AED 2800</h4>
                    <p>(Total cost AED212)</p>
                </div>
                <button mat-stroked-button color="primary" class="btn yellow">Upgrade</button>
            </div>
        </div>
        <div class="list">
            <div class="outer">
                <div class="left">
                    <img src="../../../../assets/images/availability/sixt-logo.png" alt="">
                    <h4>Maruti Baleno AT</h4>
                </div>
                <div class="middle">
                    <div class="icon-box green">
                        <span class="ak-checkedmark"></span>
                        <p>Includes GPS and Additional Driver</p>
                    </div>
                    <div class="icon-box">
                        <span class="ak-information icon orange"></span>
                        <p class="blue" (click)="openDialog()">Inclusions</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="price">
                    <h4>AED 2800</h4>
                    <p>(Total cost AED212)</p>
                </div>
                <button mat-stroked-button color="primary" class="btn yellow">Upgrade</button>
            </div>
        </div>
    </div>
</div>