<!-- success-page -->
<div class="confirmation-header success-page">
    <div class="container">
        <div class="row">
            <div class="left">
                <div class="icon">
                    <img src="../../../assets/images/confirmation/success.png" alt="">
                </div>
                <div class="status">
                    <h3>Thank You</h3>
                    <p>Thank You Your ticket has been confirmed</p>
                </div>
            </div>
            <div class="right">
                <div class="received">
                    <img src="../../../assets/images/confirmation/tick.png" alt="">
                    <h3>Payment Received</h3>
                    <p>₹14,000 recevied from your Bank</p>
                </div>
                <div class="bkg-success">
                    <img src="../../../assets/images/confirmation/tick.png" alt="">
                    <h3>Booking Success</h3>
                    <p>For DXB - COK</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="confirmation-outer">
    <div class="container confirmation">
        <div class="confirmation-left">
            <div class="user-card card">
                <p>Dear <b> Mr Amit Gupta</b> </p>
                <p>Please carry a print out of this e-ticket as well as an identity card with your photograph on it
                    while travelling. Please quote our booking AT <b> 190200676b </b> when correspoding with us.
                </p>
            </div>
            <!-- <app-transfers-detail class="full-width"></app-transfers-detail> -->
            <app-passenger-details class="full-width"></app-passenger-details>
            <app-fare-detail class="full-width"></app-fare-detail>
            <app-payment-method class="full-width"></app-payment-method>
            <app-contact-detail class="full-width"></app-contact-detail>
        </div>
        <div class="confirmation-right">
            <div class="ref-number card">
                <p>Reference No</p>
                <div class="nu-row">
                    <h3>AO 190207460</h3>
                    <span class="ak-copy icon"></span>
                </div>
            </div>

            <div class="booking-outer">
                <h2>Your Booking Details</h2>

                <div class="details card">
                    <div class="head">
                        <div class="v-detail">
                            <h4>Maruti Baleno AT</h4>
                            <span>or similar SUV</span>
                        </div>
                        <div class="logo">
                            <img src="../../../assets/images/sixt-logo.png" alt="">
                        </div>
                    </div>
                    <div class="body">
                        <h5>Provider Ref No</h5>
                        <div class="bkg-nu">
                            <h6>254657657</h6>
                            <span class="ak-copy icon"></span>
                        </div>
                    </div>
                </div>
                <div class="faild card">
                    <span class="ak-cancel icon"></span>
                    <h4>Booking failed</h4>
                </div>

            </div>

            <div class="share-detail card">
                <ul>
                    <li>
                        <a href="">
                            <div class="icon-round print">
                                <span class="ak-printer"></span>
                            </div>
                            <p>Print</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon-round download">
                                <span class="ak-download"></span>
                            </div>
                            <p>Download</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon-round email">
                                <span class="ak-email"></span>
                            </div>
                            <p>Email</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon-round whatsapp">
                                <span class="ak-whatsapp"></span>
                            </div>
                            <p>Whatsapp</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="itinery-section card">
                <div class="row">
                    <span class="ak-download icon"></span>
                    <p>My Account Itinerary</p>
                </div>
                <button mat-flat-button color="primary" class="btn1 yellow">Go</button>
            </div>
        </div>
    </div>
</div>