//side panel
@keyframes show-left-to-right {
    100% {
        transform: translate(0, 0);
    }
}

@keyframes hide-left-to-right {
    100% {
        transform: translate(100%, 0);
    }
}


// filter
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}