// bg clr
$primary : #b5cb13;
$secondary:#ffcd2e;

$blue: #002543;
$darkBlue: #293345;
$lightBlue : #0e295a;
$txt_dgray: #363636;
$line :#E2E2E2;
$light-gray :#bdbdbd;
$gray1 :#e8e8e8;
$d-green : #8ccd88;
$l-green : #dae589;
$gray: #535252;
$yellow : #f6e576;
$d-yellow : #ffee7f;
$silver: #C3C3C3;
$lightgrey : #D0D0D0;
$note : #FF7800;
$borderlight: #d0d0d0;
$peech : #e99ea3;


// txt clr
$white: #fff;
$black: #000;

$bdr-light: #E3E3E3;