<div class="cancellation">
    <div class="box">
        <h4>Onward</h4>
        <div class="tile">
            <div class="border-left"></div>
            <div class="lists">
                <div class="list">
                    <div class="left">
                        <p>Until 23:59 PM on 11/07/2023</p>
                    </div>
                    <div class="right">
                        <p class="green-txt">Free</p>
                    </div>
                </div>
                <div class="list">
                    <div class="left">
                        <p>After 00:00 on 12/07/2023</p>
                    </div>
                    <div class="right">
                        <p class="red-txt">92.35 AED</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <h4>Return</h4>
        <div class="tile">
            <div class="border-left"></div>
            <div class="lists">
                <div class="list">
                    <div class="left">
                        <p>Until 23:59 PM on 13/07/2023</p>
                    </div>
                    <div class="right">
                        <p class="green-txt">Free</p>
                    </div>
                </div>
                <div class="list">
                    <div class="left">
                        <p>After 00:00 on 14/07/2023</p>
                    </div>
                    <div class="right">
                        <p class="red-txt">92.35 AED</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>