<div class="fare-details-card card-common">
    <div class="header">
        <h2>Payable Locally</h2>
    </div>

    <div class="box-body1">
        <div class="box txt-right">
            <h3>One way fee</h3>
            <p>AED 358.21</p>
        </div>
        <div class="box  txt-right">
            <h3>Booster Seat</h3>
            <p>AED 25.58</p>
        </div>
        <div class="box  txt-right">
            <h3>GPS Unit</h3>
            <p>AED 254</p>
        </div>
        <div class="box txt-right">
            <h3>Baby seat</h3>
            <p>AED 10</p>
        </div>
        <div class="box txt-right">
            <h3>Payable locally</h3>
            <p>AED 2000</p>
        </div>
    </div>

    <div class="footer">
        <div class="bottom">
            <span class="ak-information icon orange"></span>
            <p>Optional extras are subject to availability and can be requested at the time of booking. Charges will be
                paid locally at the rental desk and may be subject to local surcharges</p>
        </div>
    </div>
</div>