<div class="terms-conditions">
    <mat-tab-group>
        <mat-tab label="Inclusions">
            <div class="contents">
                <ul>
                    <li>Unlimited Mileage</li>
                    <li>LDW Loss Damage Waiver</li>
                    <li>1 Million USD Liability Cover (EP/SLI)</li>
                    <li>Local Sales Tax/es</li>
                    <li>State Tax</li>
                    <li>Airport Surcharges/Fees</li>
                    <li>Customer Facility Charge</li>
                    <li>Mechanical Assistance</li>
                    <li>Special Offer - Free Additional Driver</li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="Cancellation/ No show policy"></mat-tab>
        <mat-tab label="Excess policy"></mat-tab>
        <mat-tab label="Fuel policy"></mat-tab>
        <mat-tab label="Location details">
            <div class="location">
                <div class="left">
                    <div class="address">
                        <h4>Address</h4>
                        <p>Birmingham Airport</p>
                        <p>Arrivals hall terminal link building airport way</p>
                        <p>+44 0121 782 9030</p>
                    </div>
                    <div class="times">
                        <h4>Opening Times</h4>
                        <table>
                            <tr>
                                <th>Mon</th>
                                <td>07.00</td>
                                <td>22.00</td>
                            </tr>
                            <tr>
                                <th>Tue</th>
                                <td>07.00</td>
                                <td>22.00</td>
                            </tr>
                            <tr>
                                <th>Wed</th>
                                <td>07.00</td>
                                <td>22.00</td>
                            </tr>
                            <tr>
                                <th>Thu</th>
                                <td>07.00</td>
                                <td>22.00</td>
                            </tr>
                            <tr>
                                <th>Fri</th>
                                <td>07.00</td>
                                <td>22.00</td>
                            </tr>
                            <tr>
                                <th>Sat</th>
                                <td>07.00</td>
                                <td>22.00</td>
                            </tr>
                            <tr>
                                <th>Sun</th>
                                <td>07.00</td>
                                <td>22.00</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="right">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1964.4668842856447!2d76.30175872221177!3d10.022324393051768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080da64ac285af%3A0x7271dbc79885768e!2sBenzy%20Infotech!5e0!3m2!1sen!2sin!4v1693549910028!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
               
            </div>
            <div class="location">
                <div class="details">
                    <h4>Collection Details</h4>
                    <p>SERVICED BY ENTERPRISE The counter is located in the baggage claim area of the main terminal. Vehicles are within walking distance. This location services deplaning customers only.</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Additional informations"> </mat-tab>
        <mat-tab label="Terms & conditions">
            <div class="contents">
                <div class="logo">
                    <img src="../../../../assets/images/availability/sixt-logo.png" alt="">
                    <h4>Alamo - United States</h4>
                </div>
                <div class="texts">
                    <div class="details">
                        <h3>REQUIRED RENTAL DOCUMENTS</h3>
                        <h4>THE REQUIRED DOCUMENTS ARE</h4>
                        <p>When collecting the vehicle, both the main driver and additional drivers must present a valid
                            Driving Licence and a valid Passport.</p>
                        <p>A driving licence must be presented in legible Roman letters.</p>
                        <p>An International Driving Permit (IDP) will be required if the driving licence is written in
                            characters different to those of the renting country. It is the drivers responsibility to
                            ensure
                            that they have the appropriate licence. Please check with the embassy or consulate in
                            advance.
                        </p>
                        <p>A credit card in the name of the main driver is required, with sufficient funds for both the
                            security deposit and for any service or extras requested locally. The Credit card must be in
                            the
                            full name and surname of the driver and display the 16 numbers. The PIN code will be
                            required.
                        </p>
                        <p>The Flexible Autos voucher is required when picking up your rental car.</p>
                        <p>In specific cases the rental agent may ask for proof of residence or a return flight ticket.
                        </p>
                    </div>
                    <div class="details">
                        <h3>LICENCE REQUIREMENTS</h3>
                        <p>Driving Licences must be held for a minimum of 1 years.</p>
                    </div>
                    <div class="details">
                        <h3>ADDITIONAL REQUIREMENTS</h3>
                        <p>Customers cannot be residents of the United States or Canada</p>
                        <p>Customers must hold a non-US/Canadian issued driving licence and passport must also present
                            an international driver’s permit, a permanent resident’s card or visa issued outside of
                            US/Canada, failure to do so will result in the renter being refused the international
                            inbound rates at the counter.</p>
                        <p>It is important that customers check with the appropriate Department of Motor Vehicles in the
                            States or Provinces in which they intend to travel to ensure compliance with their various
                            licencing laws.
                        </p>
                        <p>In the states of Michigan and Massachusetts customers with a Chinese Driving Licence are not
                            permitted to rent.
                        </p>
                        <p>If an International Driver’s permit cannot be obtained in the home country, another
                            professional, type-written translation may be substituted. The main and additional drivers'
                            home country licence must also be presented.</p>
                        <p>If there is an unsatisfactory search result you will need to provide paper-based proof of
                            identity such as a valid bank/ building society/credit card statement, utility bill (not a
                            council tax bill), land line telephone bill (not a mobile phone bill) or a TV license that
                            is less than 3 months old when you pick up the vehicle from the Rental Station.</p>
                        <p>UK Nationals residing overseas are advised to use a driving licence of the country in which
                            they reside or they will be subject to the above.</p>
                        <p>Visitors must provide proof of return travel (ex. flight ticket) and accommodation
                            information while in.</p>
                    </div>
                </div>
            </div>

        </mat-tab>
    </mat-tab-group>

</div>