<div class="container pricing">
    <div class="left">
        <app-review-car></app-review-car>
        <app-upgrade-car></app-upgrade-car>
        <app-booking-details></app-booking-details>
        <app-contact-details></app-contact-details>
        <app-extras></app-extras>
        <app-timer class="responsive"></app-timer>
        <app-payment-options></app-payment-options>
    </div>
    <div class="right">
        <app-fare-details></app-fare-details>
        <app-payable-locally></app-payable-locally>
        <app-timer></app-timer>
    </div>
    <div class="fair-summery-mob">
        <div class="left">
            <h4>Total amount</h4>
            <h3>AED 2800 <span class="ak-info icon"></span></h3>
        </div>
        <button mat-flat-button color="primary" class="btn green">Make Payment</button>
    </div>
</div>

