<div class="nav">
    <ul>
        <li class="none">tranfers</li>
        <li ><a href="cab"> Home</a></li>
        <li ><a href="transfers/availability"> availability</a></li>
        <li> <a href="transfers/paxdetail"> paxdetail</a></li>
        <li> <a href="transfers/confirmation"> confirmation</a></li>
        <li  class="none">Car-rental</li>
        <li> <a href="cab"> Home</a></li>
        <li> <a href="car-rental/availability"> availability</a></li>
        <li> <a href="car-rental/compare"> compare</a></li>
        <li> <a href="car-rental/pricing"> pricing</a></li>
        <li> <a href="car-rental/selectcar"> selectcar</a></li>
        <li> <a href="car-rental/confirmation"> Confirmation</a></li>
    </ul>
</div>

<lib-b2b-header [redirectUrl]="redirectUrl"></lib-b2b-header>
<router-outlet></router-outlet>