<section class="upi-payment-container">


    <ul class="upidiagram">
      <li>
        <div class="bg">
          <div class="no">1</div>
          <div class="two"></div>
        </div>
        <p>Enter VPA on Akbartravels<br />payment page</p>
      </li>

      <li>
        <div class="bg">
          <div class="no">2</div>
          <div class="four"></div>
        </div>
        <p>
          Go to your banks app to<br />
          access our request
        </p>
      </li>

      <li>
        <div class="bg">
          <div class="no">3</div>
          <div class="five"></div>
        </div>
        <p>Enter MPIN to authenticate<br />on your bank app</p>
      </li>
    </ul>

    <div class="enteramount-row">
      <div class="block large-width">
        <label class="formlabel">Amount</label>
        <input type="text" class="form-control" placeholder="Enter Amount" />
      </div>
    </div>


    <div class="seperationbg">
      <div class="seperation">

        <div class="block large-width">
          <label class="formlabel">Virtual payment address</label>
          <input type="text" class="form-control" placeholder="Virtual payment address" />
        </div>

        <div class="or-row">
          <div class="or-box">OR</div>
        </div>

        <div class="scan-row">
          <h3>Scan And Pay</h3>
          <p>Scan the Below QR code UPI app and make the payment</p>
          <button class="scanning-btn">Proceed with QR Code Scanning</button>

          <!-- <div class="checkouter" fxLayout="row" fxLayoutAlign="start">
             <mat-checkbox class="check">I accept <a href=""> and Conditions</a></mat-checkbox>
           </div> -->
        </div>
      </div>
    </div>
  </section>