<div class="fare-details-card card-common">
    <div class="header">
        <h2>Fare Details</h2>
    </div>

    <div class="box-body1">
        <div class="box txt-right">
            <h3>Car Hire</h3>
            <p>AED 358.21</p>
        </div>
        <div class="box  txt-right">
            <h3>ERP</h3>
            <p>AED 25.58</p>
        </div>
        <div class="box  txt-right">
            <h3>Tax and Charges</h3>
            <p>AED 254</p>
        </div>
        <div class="box txt-right">
            <h3>VAT</h3>
            <p>AED 10</p>
        </div>
        <div class="box txt-right">
            <h3>Total</h3>
            <p>AED 2000</p>
        </div>
    </div>

    <div class="footer">
      <div class="pricing">
        <h3>Total Amount : <span>AED 184.70</span></h3>
      </div>
    </div>
</div>