<div class="extras">
    <div class="heading">
        <h3>Extras <span>( Payable Locally )</span></h3>
    </div>
    <div class="card">
        <div class="top">
            <div class="list">
                <div class="left">
                    <img src="../assets/images/car-rental/baby-car-seat.svg">
                </div>
                <div class="right">
                    <div class="texts">
                        <p>Baby Seat Rear Facing to 10Kg</p>
                        <h4>13.99 USD Daily</h4>
                    </div>
                    <div class="icons">
                        <div class="box green">
                            <span class="ak-add"></span>
                        </div>
                        <div class="box">
                            <h4>1</h4>
                        </div>
                        <div class="box green right">
                            <span class="ak-remove"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="left">
                    <img src="../assets/images/car-rental/safety-seat.svg">
                </div>
                <div class="right">
                    <div class="texts">
                        <p>Booster Seat (18 to 45kg)</p>
                        <h4>3.95 USD Daily</h4>
                    </div>
                    <div class="icons">
                        <div class="box green">
                            <span class="ak-add"></span>
                        </div>
                        <div class="box">
                            <h4>1</h4>
                        </div>
                        <div class="box green right">
                            <span class="ak-remove"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="left">
                    <img src="../assets/images/car-rental/child-car-seat.svg">
                </div>
                <div class="right">
                    <div class="texts">
                        <p>Child seat (9-18 kg)</p>
                        <h4>13.99 USD Daily</h4>
                    </div>
                    <div class="icons">
                        <div class="box green">
                            <span class="ak-add"></span>
                        </div>
                        <div class="box">
                            <h4>1</h4>
                        </div>
                        <div class="box green right">
                            <span class="ak-remove"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="left">
                    <img src="../assets/images/car-rental/hand-controls.svg">
                </div>
                <div class="right">
                    <div class="texts">
                        <p>Hand Controls (Left)</p>
                        <h4>13.99 USD Daily</h4>
                    </div>
                    <div class="icons">
                        <div class="box green">
                            <span class="ak-add"></span>
                        </div>
                        <div class="box">
                            <h4>1</h4>
                        </div>
                        <div class="box green right">
                            <span class="ak-remove"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="left">
                    <img src="../assets/images/car-rental/hand-controls-right.svg">
                </div>
                <div class="right">
                    <div class="texts">
                        <p>Hand Controls (Right)</p>
                        <h4>13.99 USD Daily</h4>
                    </div>
                    <div class="icons">
                        <div class="box green">
                            <span class="ak-add"></span>
                        </div>
                        <div class="box">
                            <h4>1</h4>
                        </div>
                        <div class="box green right">
                            <span class="ak-remove"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="left">
                    <img src="../assets/images/car-rental/mobile-wifi.svg">
                </div>
                <div class="right">
                    <div class="texts">
                        <p>Mobile Wifi</p>
                        <h4>13.99 USD Daily</h4>
                    </div>
                    <div class="icons">
                        <div class="box green">
                            <span class="ak-add"></span>
                        </div>
                        <div class="box">
                            <h4>1</h4>
                        </div>
                        <div class="box green right">
                            <span class="ak-remove"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <span class="ak-information icon orange"></span>
            <p>Optional extras are subject to availability and can be requested at the time of booking. Charges will be
                paid locally at the rental desk and may be subject to local surcharges</p>
        </div>
    </div>
</div>