<div class="container">
    <div class="recon-body">
        <app-transfers-detail></app-transfers-detail>
        <app-passenger-details></app-passenger-details>
        <app-fare-detail></app-fare-detail>
        <app-payment-method></app-payment-method>
        <app-contact-detail></app-contact-detail>
    </div>
</div>

<div class="recon-footer">

    <div class="amount">
        <h3>AED 105,79</h3>
        <h6>you earn</h6>
      </div>


    <button mat-flat-button color="primary" class="btn green">Book Now</button>
</div>