@import "common";

.popup-box {
    width: 700px;
    margin: auto;
    background-color: #fff;
    @include flex(column);
    @include flexAlign(s, s);
    gap: 15px;

    @media screen and (max-width:900px) {
        width: 100%;
    }

    .header {
        @include flex(row);
        @include flexAlign (sb, c);
        box-sizing: border-box;
        border-bottom: 1px solid #E7E7E7;
        padding: 12px 17px;
        height: 52px;
        width: $w100;

        h4 {
            font-size: $clamp-19-16;
            font-weight: $bold;
        }

        .close-icon {
            cursor: pointer;
            transform: scale(.8);
            transition: all .5s ease;
            opacity: .5;

            &:hover {
                transform: scale(1);
                opacity: 1;
                color: $black;
            }
        }
    }

    .body {
        width: $w100;

        padding: 0 17px;
        @include flex(column);
        gap: 20px;

        p {
            width: 85%;
            line-height: 20px;
            font-size: 14px;

            @media screen and (max-width:800px) {
                width: 100%;
            }
        }

        .form {
            width: $w100;

            .box {
                @include flex(row);
                gap: 14px;

                .bottom {
                    @include flex(row);
                }
            }
        }
    }

    .footer {
        width: $w100;
        padding: 0 17px 20px;
        @include flex(row);
        @include flexAlign(e, c);
    }
}


::ng-deep .mat-mdc-select-value {
    font-size: 14px !important;
}