<div class="share-confirm card">
    <div class="txt">
        <span class="ak-request-visa icon"></span>
        <p>Share the entered details to customer so that they can verify and confirm. Please click the share option.</p>
    </div>
    <div class="share-wraper">
        <ul>
            <li  (click)="openDialog()">
               <img src="../../../../assets/images/pax-detail/whatsapp.png" alt=""> 
               <p>WhatsApp</p>
            </li>
            <li>
               <img src="../../../../assets/images/pax-detail/mail.png" alt=""> 
               <p>E Mail</p>
            </li>
        </ul>
    </div>
</div>