<div class="container">
    <div class="recon-body">
        <app-review-car></app-review-car>
        <app-booking-detail-card></app-booking-detail-card>
        <app-fare-details-card></app-fare-details-card>
        <app-payable-locally-card></app-payable-locally-card>
        <app-payment-method-common></app-payment-method-common>
        <app-contact-details-common></app-contact-details-common>
    </div>
</div>

<div class="recon-footer">

    <div class="amount">
        <h3>₹10,5799</h3>
      </div>
    <button mat-flat-button color="primary" class="btn green">Book Now</button>
</div>
