<div class="fare-details">
    <div class="heading">
        <h3>Fare Details</h3>
    </div>
    <div class="card">
        <ul>
            <li>
              <div class="heading">
                <h2><span class="ak-right icon"></span>Base Fare</h2>
                <h2>AED 184.70</h2>
              </div>
              <ul class="data">
                  <li>
                    <p>Car Hire</p>
                    <p>AED 1000</p>
                  </li>
                  <li>
                    <p>ERP</p>
                    <p>AED 1000</p>
                  </li>
              </ul>
            </li>
            <li>
              <div class="heading">
                <h2><span class="ak-right icon"></span>Tax & Charges</h2>
                <h2>AED 2000</h2>
              </div>
             
            </li>
            <li>
                <div class="heading">
                  <h2><span class="ak-right icon"></span>VAT</h2>
                  <h2>AED 2000</h2>
                </div>
               
              </li>
          </ul>
          <footer>
              <h2>Total Amount:</h2>
              <h2>AED 2800</h2>
            </footer>
    </div>

    
</div>

