@import "common";

.no-data{
    &.card{
        width:$w100;
        background: $white 0% 0% no-repeat padding-box;
        border: 1px solid $white;
        border-radius: 10px;
        min-height: 300px;
        padding: $clamp-15-10;
        @include flex(column);
        @include flexAlign(c, c);
        gap: 15px;
        margin: clampGen(30px, 50px) 0;
    }
    img{
        max-width: 150px;
    }
    h2{
        color: #000;
        font-weight: $regular;
        text-align:  center;
        font-size: clampGen(20px, 24px);
        line-height: 20px;
    }
}
