@import "common";

.fare-details {
    .card {
        padding: 10px;

        ul {
            li {
                border-bottom: 1px solid #ededed;
                padding: 13px 0px;

                .heading {
                    @include flex(row);
                    @include flexAlign(sb, c);

                    h2 {
                        font-size: 14px;
                        color: #000;

                        &:first-child {
                            padding-right: 15px;
                        }

                        .icon {
                            font-size: 10px;
                            margin-right: 4px;
                        }
                    }
                }

                .data {
                    padding: 5px 0px 0px 14px;
                    overflow: hidden;

                    li {
                        @include flex(row);
                        @include flexAlign(sb, c);
                        padding: 5px 0;
                        border: 0;

                        p {
                            color: #525252;
                            font-size: 13px;
                            width: calc(100% - 100px);
                            line-height: 20px;

                            &:last-child {
                                text-align: right;
                            }
                        }

                        &:last-child {
                            padding-bottom: 0;
                        }
                    }

                }

            }
        }

        footer {
            @include flex(row);
            @include flexAlign(sb, c);
            padding: 10px 0 10px;
            background: #fff;

            h2 {
                font-size: 14px;
                font-weight: $black_fnt;
                color: #000;

                span {
                    font-size: 12px;
                    font-weight: 400;
                    color: $light-gray;
                    text-align: right;
                }

                &:last-child {
                    @include flex(column);
                    @include flexAlign(c, e);
                    font-weight: $black_fnt;
                }

                &.bg {
                    background: url("/../assets/images/pax-detail/watermark-old.png");
                    background-position: center;
                    height: 45px;
                }
            }
        }

        &.skeleton {
            ul {
                li {
                    h2 {
                        @include flex(r);
                        @include flexAlign(s, c);
                        gap: 1px;

                        .txt {
                            width: 100px;
                            height: 14px;
                        }
                    }

                    .amount {
                        width: 70px;
                        height: 14px;
                    }
                }
            }

            .data {
                li {
                    @include flex(row);
                    @include flexAlign(sb, c);

                    p {
                        @include flex(column);
                        @include flexAlign(s, s);
                        gap: 4px;

                        &:last-child {
                            @include flex(row);
                            @include flexAlign(e, c);

                            span {
                                width: 70px !important;
                                height: 13px !important;
                                @include flex(r);
                            }
                        }

                        span {
                            width: 100px;
                            height: 13px;
                            @include flex(r);

                            &:last-child {
                                width: 80px;
                                height: 16px;

                            }
                        }
                    }
                }
            }

            footer {
                .total {
                    width: 100px;
                    height: 14px;
                }

                .bg {
                    @include flex(column);
                    @include flexAlign(c, e);
                    gap: 4px;
                    background: url("/../assets/images/pax-detail/watermark-old.png");
                    background-position: center;
                    height: 45px;
                    width: 100px;

                    span {
                        width: 60px;
                        height: 15px;

                        &:last-child {
                            width: 80px;
                            height: 12px;
                        }
                    }
                }
            }
        }
    }
}