<div class="popup-box">
    <div class="header">
        <h4>Email this Search</h4>
        <div class="close-icon">
            <span class="ak-cancel"></span>
        </div>
    </div>
    <div class="body">
        <p>Email will be sent with selected car details.</p>
        <div class="form">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Email Id">
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="footer">
        <button mat-flat-button color="primary" class="btn-xs green">SUBMIT</button>
    </div>
</div>
