<div class="packages skeleton">
    <div class="card">
        <div class="data">
            <div class="left">
                <div class="image-bg animating">
                </div>
                <div class="text1">
                    <h3 class="animating"></h3>

                    <div class="feature">
                        <p class="animating"></p>
                        <p class="animating"></p>
                    </div>

                    <div class="supplier">
                        <h5 class="animating"></h5>
                        <div class="waiting animating"></div>
                    </div>

                </div>
            </div>
            <div class="right">
                <div class="list">
                    <ul class="list_style">
                        <li class="animating"></li>
                        <li class="animating"></li>
                        <li class="animating"></li>
                    </ul>
                    <div class="view-more animating"></div>
                </div>
                <div class="btn-area">
                    <div class="amount animating"></div>
                    <div class="btn-wraper animating">
                    </div>
                </div>
            </div>
        </div>
        <div class="operator">
            <div class="image animating"></div>
        </div>
    </div>
</div>
