<div class="contact">
    <div class="heading">
        <h3>Contact Details</h3>
    </div>
    <div class="card">
        <ul>
            <li>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="9633777011">
                </mat-form-field>
            </li>
            <li>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="robin@benzyinfotech.com">
                </mat-form-field>
            </li>
        </ul>
        <div class="bottom">
            <div class="left">
                <span class="ak-danger"></span>
                <p>These details will be passed to the Car for booking</p>
            </div>
            <div class="right">
                <p>Select Passenger</p>
                <span class="ak-verified-user icon"></span>
            </div>
        </div>
    </div>
</div>